{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
</head>
<body>
    <nav>
        <p>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'band-list' %}">Groupes</a> 
            <a href="{% url 'listing-list' %}">Listings</a> 
            <a href="{% url 'contact' %}">Contact Us</a>
        </p>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>